@import url("https://fonts.googleapis.com/css2?family=Jersey+15&display=swap");
* {
  font-family: "Jersey 15", sans-serif;
  color: white;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  user-select: none; /* standard syntax */
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Jersey";
}
.jersey-15-regular {
  font-family: "Jersey 15", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.navbar {
  display: flex;
  justify-content: space-around;
  color: white;
  padding: 4rem 0;
  margin: 0 auto;
  width: 90%;
  font-family: "Jersey 15";
  font-size: 30px;
  font-weight: 400;
  line-height: 45px;
  text-align: left;
}
.navbar .right a {
  text-decoration: none;
  font-family: "Jersey 15", sans-serif;
  color: white;
  margin-bottom: 15px;
}
.navbar .right a:hover {
  font-family: "Jersey 15", sans-serif;
  color: white;
}
h1 {
  padding: 0;
  margin: 0;
}
.right {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-family: "Jersey";
  color: white;
  align-items: center;
  margin-left: 4%;
  margin-right: 4%;
}
.bar1,
.bar2,
.bar3 {
  background-color: white;
  height: 4px;
  width: 36px;
  margin-top: 8px;
  border-radius: 20px;
}
.mobilenavbar {
  z-index: 5;
  width: 150px;
  height: 100vh;
  background-color: black;
  opacity: 0.3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 2;
  top: 0;
  right: -190px;
  padding: 1rem;
  transition: transform 0.5s;
  font-family: "Jersey 15";
  font-size: 20px;
  font-weight: 400;
  line-height: 45px;
}
.mobilenavbar a {
  text-decoration: none;
  color: white;
  margin: 1rem 0;
}
.opennavmob {
  transform: translateX(-190px);
}
.hamburger:hover {
  cursor: pointer;
}
.hamburger {
  display: none;
}
@media only screen and (max-width: 1100px) {
  .navbar {
    margin: 0 auto;
    width: 100%;
  }
}
@media only screen and (max-width: 750px) {
  .contrem {
    display: none;
  }
}
footer {
  text-align: center;
  padding: 4rem;
}
.bar1as {
  animation: bar1a 0.2s forwards;
}
.bar2as {
  animation: fadebar2 0.1s forwards;
}
.bar3as {
  animation: bar2a 0.2s forwards;
}
@keyframes bar1a {
  from {
    tranform: rotate(0);
  }
  to {
    transform: rotate(45deg) translate(5px, 13px);
  }
}
@keyframes bar2a {
  from {
    tranform: rotate(0);
  }
  to {
    transform: rotate(-46deg) translate(4px, -12px);
  }
}
@keyframes fadebar2 {
  from {
    transform: scaleX(1);
    opacity: 1;
  }
  to {
    transform: scaleX(0);
    opacity: 0;
  }
}
.right {
  border-bottom: 2px solid white;
}
.main-context {
  display: flex;
  flex-direction: column;
}
.main {
  color: #da0035;
  font-size: 70px;
}
.name {
  font-size: 40px;
}
.sub {
  font-size: 30px;
  margin-top: 15px;
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.s {
  font-size: 60px;
  margin-top: 15px;
}
@font-face {
  font-family: "Jersey 15";
  src:
    url("../fonts/Jersey15.woff2") format("woff2"),
    url("../fonts/Jersey15.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Jersey";
  src:
    url("../fonts/Jersey.woff2") format("woff2"),
    url("../fonts/Jersey.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.container {
  display: flex;
  padding-top: 3rem;
  margin-top: 50px;
  align-content: center;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: 0 auto;
}
.faq-section {
  /* margin: 40px; */
  background-color: #db0031;
  padding: 60px;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  max-width: 100vw;
}

.faq-section h1 {
  font-size: 28px;
  text-align: center;
  color: #fff;
  font-family: "Jersey 15";
  margin-bottom: 30px;
  width: 60vw;
}

.faq-item {
  margin-bottom: 20px;
  background-color: #333;
  border-radius: 6px;
  overflow: hidden;
}

.faq-question {
  padding: 20px;
  font-size: 2em;
  background-color: #222;
  cursor: pointer;
  color: #fff;
  border: none;
  outline: none;
  transition:
    background-color 0.3s,
    transform 0.3s;
}

.faq-question:hover {
  background-color: #444;
  transform: translateY(-2px);
}

.faq-answer {
  display: none;
  padding: 20px;
  background-color: #111;
  border-top: 1px solid #db0031;
  color: #ddd;
}

/* Smooth transition effect for answer */
.faq-answer p {
  margin: 0;
  font-size: 2em;
  line-height: 1.8;
}

.faq-question.open + .faq-answer {
  display: block;
}
.main-context {
  height: 90vh;
}

.contactus .container {
  background-color: #db0031;
  width: 70vw;
  padding: 60px;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  max-width: 60vw;
}
.contactus h1 {
  font-size: 28px;
  color: #fff;
  font-family: "Jersey 15";
  margin-bottom: 30px;
  display: block;
}
.contactus .container {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.links {
  display: flex;
  flex-wrap: wrap;
}
.links a {
  background-color: white;
  font-family: "Jersey 15", sans-serif;
  color: black;
  text-decoration: none;
  font-size: 2em;
  padding: 0.3em;
  margin: 20px;
}
.themes {
  background-color: #db0031;
  width: 70vw;
  padding: 60px;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  max-width: 60vw;
}
.themes h2 {
  cursor: pointer;
  background-color: #d9d9d9;
  color: #da0035;
  padding: 10px;
  font-size: 2em;
  border-radius: 5px;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  display: none; /* Initially hidden */
}
table,
th,
td {
  color: black;
  border: 1px solid #dddddd;
  padding: 8px;
}
th {
  background-color: #f2f2f2;
  font-size: 1.7em;
}
td {
  font-size: 1.5em;
  text-align: left;
}
.prms {
  margin-top: 7em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.center {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rulebook {
  background-color: #db0031;
  border-radius: 1em;
  padding: 2em;
  width: 70vw;
}
.rulebook h1 {
  font-size: 4em;
}
.rulebook-question {
  background-color: #d9d9d9;
  font-size: 2em;
  border-radius: 0.1em;
  padding: 0.3em;
  color: black;
  transition:
    background-color 0.3s,
    transform 0.3s;
}
.rulebook-answer li {
  font-size: 1.5rem;
}

.rulebook-item {
  margin-bottom: 20px;
  background-color: #333;
  border-radius: 6px;
  overflow: hidden;
}

.rulebook-question {
  padding: 20px;
  font-size: 2em;
  background-color: #222;
  cursor: pointer;
  color: #fff;
  border: none;
  outline: none;
  transition:
    background-color 0.3s,
    transform 0.3s;
}

.rulebook-question:hover {
  background-color: #444;
  transform: translateY(-2px);
}

.rulebook-answer {
  display: none;
  padding: 20px;
  background-color: #111;
  border-top: 1px solid #db0031;
  color: #ddd;
}

/* Smooth transition effect for answer */
.rulebook-answer p {
  margin: 0;
  font-size: 2em;
  line-height: 1.8;
}

.rulebook-question.open + .rulebook-answer {
  display: block;
}
@media only screen and (max-width: 750px) {
  .rulebook h1 {
    font-size: 2em;
  }
  .rulebook-answer li {
    margin: 0;
    font-size: 1.5em;
    width: 100%;
    margin: 0;
  }
  .rulebook ul {
    padding: 0;
  }
  .faq h1 {
    font-size: 2em;
  }
  .faq-answer {
    margin: 0;
    font-size: 1.5em;
    width: 100%;
    margin: 0;
    line-height: 0;
  }
  .faq p {
    padding: 0;
  }
  .faq-section h1 {
    font-size: 2em;
  }

  .faq-item {
    width: 100%;
    margin-bottom: 20px;
    background-color: #333;
    border-radius: 6px;
    overflow: hidden;
  }

  .faq-question {
    font-size: 2em;
  }

  .faq-answer p {
    margin: 0;
    font-size: 1.5em;
    width: 100%;
    margin: 0;
    padding: 0;
    line-height: 2rem;
  }
  .faq-section {
    width: 100vw;
  }
  #home {
    margin-top: 10em;
  }
}

#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
